.search-bar {
    width: 300px;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    margin: 5px 10px 20px 0;
    font-size: 12px;
    margin-right: 10px;
}

.btn {
    padding: 15px 30px;
    background-color: #37b249;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    color:white;
    font-weight: bold;
}

div img {
    width: 30%;
}